<h1>{{ message }}</h1>
<h2>We have 10 movies right now! Wow!</h2>
  <ul class="container">
    {{#each movieData}}
      <li class="movieSingle">
        <img src="images/{{movies_cover}}" alt="{{movies_title}}">
        <h3>{{ movies_title }}</h3>
        <p>{{ movies_storyline }}</p>
        <p>{{ movies_year }}</p>
      </li>
    {{/each}}
  </ul>
