<h1>{{ message }}</h1>
<h2>Welcome to the kid's section!</h2>
  <ul class="container">
    {{#each movieData}}
      <li class="movieSingle">
        <img src="images/{{movies_cover}}" alt="{{movies_title}}">
        <h3>{{ movies_title }}</h3>
        <p>{{ movies_storyline }}</p>
        <h5>Year Released: {{ movies_year }}</h5>
        <a href="/movie/{{ movies_id }}">Watch a Trailer!</a>
      </li>
    {{/each}}
  </ul>
