<a href="/">
  <i class="fa-fa-home"></i>
</a>

<h1>{{ message }}</h1>

<ul>
  {{#each movieData}}
    <li>
      <h4>{{ movies_name }}</h4>
      <img src="{{ movies_cover }}" alt="{{ movies_name }}">
      <p>${{ movies_genre }}</p>
      <p>{{ movies_year }}</p>
    </li>
  {{/each}}
</ul>
